.thing {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    border-radius: 50%;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}

.messagebox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /*Repositioning based on its own width and height*/
    color:white;
    font-size: larger;
    text-align: center;
    background: darkgray;
    border-radius: 15px;
    padding: 20px; /*Space between border and content*/
    cursor: default;
}

.topbar {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color:white;
    font-size: larger;
    text-align: center;
    background: darkgray;
    border-radius: 10px;
    padding: 10px;
    cursor: default;
}